.DS_Store
.buildpacks
push
logs.txt
salt.txt
node_modules/*
!node_modules/captcha/captcha.js
bower_components/*
public/chats.json
nohup.out
*.swp
*.swo
ca.pem
ssl.crt
ssl.key
ssl.csr
sub.class1.server.ca.pem
