html,body{
	background:white;
}

.chat_header{
	padding:2px;
	margin:-5px -5px 2px -5px;
/*	border-bottom: 1px solid black;*/
	font-size: 13px;
	background:rgba(236,236,236,1);
}

.chats_container{
        top:26px;
}

.header{
	background:white;
	border-bottom: 1px solid rgb(214, 218, 240);
}

.chat{
	margin-top:4px;
	padding:5px;
	background: white;
	border-radius: 2px;
	border:1px solid rgba(236,236,236,1);
}

.settings_nav{
	position:fixed;
	background: white;
	border-bottom: 1px solid rgb(214, 218, 240);
	border-left: 1px solid rgb(214, 218, 240);
	top:23px;
}

.chat_name{
    color:black;
}

.sidebar{
	border-left:1px solid rgb(214, 218, 240);
	top:23px;
}
.sidebar_convo{
	background: white;
	border-top: 1px solid rgb(214, 218, 240);
}

.sidebar_convo_dim{
	color:gray;
}

#body{
	border-top: 0px;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

#convo{
	border-top-right-radius: 2px;
}

#name{
	border-top-left-radius: 2px;

}

.create{
	background:white;
	border-top:1px solid rgb(214, 218, 240);
	background:rgba(236,236,236,1);

}

input,textarea{
	border-color:rgb(214, 218, 240);
	background:white;
}

.admin{
	color:red;
}

.contrib{
	color:blue;
}