@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 200;
  src: local('Source Code Pro ExtraLight'), local('SourceCodePro-ExtraLight'), url(https://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqS-IiwWNzQT_LXAtr-Ee9Pw.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 300;
  src: local('Source Code Pro Light'), local('SourceCodePro-Light'), url(https://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqcVNtom4QlEDNJaqqqzqdSs.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 400;
  src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(https://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/mrl8jkM18OlOQN8JLgasD9Hq-FFgoDNV3GTKpHwuvtI.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 500;
  src: local('Source Code Pro Medium'), local('SourceCodePro-Medium'), url(https://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqbIHYkLmgtPJP77jcqN9P08.woff) format('woff');
}
@font-face {
  font-family: 'Source Code Pro';
  font-style: normal;
  font-weight: 700;
  src: local('Source Code Pro Bold'), local('SourceCodePro-Bold'), url(https://themes.googleusercontent.com/static/fonts/sourcecodepro/v4/leqv3v-yTsJNC7nFznSMqYqjGYJUyOXcBwUQbRaNH6c.woff) format('woff');
}

html,body{
	font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
	font-size: 12px;
	background:rgb(238,255, 242);
}

.chats_container{
}

.header{


}

.chat_header{

}

.chat{
	background:rgb(214, 240, 218);
}

.chat:nth-child(odd){
	/*background:rgba(236,236,236,1);*/
}

.settings_nav{

}

.chat_name{
}

.chat_label, .chat_convo{

}

a{

}

.sidebar{

}
.sidebar_convo{
	background:rgb(214, 240, 218);
}

.sidebar_convo_dim{
}

#body{

}

#convo{

}

#name{

}

.create{
	font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
	background:rgba(158,180,180,1);
	
}

input, textarea, .input_button{
	font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
	border:1px solid rgba(158,180,180,1);
}

.admin{
	color:red;
}

.contrib{
	color:blue;
}

.alert_div{

}

.chat_number:hover{
}

.flag img{
}

.tooltip:hover:after{
}

