.shake {
	display:inline-block
}
.shake {
	display:block;
	position:relative;
}
.shake,
.shake.inline {
	display:inline-block
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.shake {
	-webkit-animation-name: spaceboots;
	-webkit-animation-duration: 0.8s;
	-webkit-transform-origin:50% 50%;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
}
.shake{
  color:#990000;
  font-weight:bold;
}
aside.create{
        background-image: url(/images/christmas3.gif);
        background-image: url(/images/christmas2.gif);
        background-repeat: no-repeat;
        background-repeat: repeat-x;
        background-position: bottom left;
        background-attachment: fixed;

}

header.header{
        background-image:url(/images/christmas1.gif); 
        background-repeat: repeat-x;
        background-position: top;
        background-attachment: fixed;
}
header.header a, header.header span{
    background-image:none;
    background:white;
}
aside.sidebar {
        background-image: url(/images/christmas-tree.png);
        background-image: url(/images/treebg.jpg);
        background-color:#022e2f;
        background-repeat: no-repeat;
        background-position: bottom right;
}

div.sidebar_convo{
    background-color:#015e90;
    color:white;
}
div.sidebar_convo_dim{
    color:white;
}
