
#stickers{
    position:absolute;
    display:none;
    left:20%;
    width:60%;
    bottom:0;
    height:60%;
    background:#fff;
    border:1px solid gray;
    overflow-y:scroll;
    overflow-x: hidden;
}
#stickers_list{
}
.sticker{
    float:left;
    height:64px;
    margin:1px;
}
#sticker_folders{
    position: fixed;
}

#last_stickers{
    display:block;
    height:64px;
    overflow:hidden;
    border-bottom: 2px solid black;
    margin-bottom:20px;
}

#lurkers{
    position:absolute;
    display:none;
    left:0;
    top:20px;
    width:auto;
    height:auto;
    background:#fff;
    border:1px solid gray;
    padding:6px;
    white-space: pre;
    z-index:4;
}
#user_count{
    cursor: help;
}
