body,html{
    padding:0;
    margin:0;
    background:rgb(238, 242, 255);
    font-family: arial,helvetica,sans-serif;
    font-size: 14px;
}

.header{
        position:fixed;
        z-index: 1;
        background: rgba(255,255,255,0.78);
        color: black;
        left:0;
        right:0;
        text-align: right;
        font-size: 14px;
        padding:3px;
}

.settings_list{
	display:block;
}

ul {
	list-style-type:none;
	padding:0;
	margin:0;
}

.settings_nav{
	position:fixed;
	z-index: 2;
	top:27px;
	right:0px;
	padding:10px;
	background: rgb(238, 242, 255);
	border-bottom: 1px solid rgb(214, 218, 240);
	border-left: 1px solid rgb(214, 218, 240);
}

.sidebar_shower{
	position:fixed;
	top:32px;
	right:0;
}

.sidebar{
        margin:0;
        position: absolute;
        right:0px;
        width:250px;
        top:26px;
        bottom:169px;
        overflow: auto;
        word-wrap: break-word;
		display: none;
}

.sidebar_banner{
	background:#AAA;
    margin:0;
	position: absolute;
    right:0px;
    width:255px;
    bottom:0px;
    height:169px;
    text-align: center;
}

.sidebar_convo_dim {
	background:none !important;
}

.sidebar_convo {
        display:inherit;
        padding:3px;
        padding-left:8px;
        background:rgb(214, 218, 240);
        margin-bottom: 3px;
}

.sidebar_convo:hover {
        cursor:pointer;
}

.sidebar_convo_body{
	font-size:12px;
	max-width:100%;
	overflow: hidden;
	max-height: 70px;
}

.livechan_banner{
	max-width:100%;
    max-height:100px;
}

.homescreen{
	color:white !important;
}

.homescreen:hover{
	color:#016c71 !important;
}


@media (max-width: 900px) {
        .sidebar {
            display: none !important;
        }
        .sidebar_convo {
        	display: none;
		}
		.sidebar_banner {
			display: none;
		}
		.create{
			right:0 !important;
		}
        .chats_container{
			width:100%;
		}

        .comment{
                padding:5px;
                margin:0;
                width:100%;
        }
        
        .name{
                padding:0;
                margin:0;
                width:68%;
                float:left;
        }
        
        .convo{
                padding:0;
                margin:0;
                width:28%;
                float:right;
        }
        .alert_div{
            	right:0px !important;
        }
        .all_frame{
	        display:none;
        }
}

.left_float{
        float:left;
}

.right_float{
        float:right;
}

.create{
    position:fixed;
    bottom:0;
    padding:0;
    margin:0;
    width:auto;
    left:0px;
	right:255px;
    background:rgb(153, 136, 238);
    font-size:16px;
    min-width:300px;
    height:155px;
    font-size:14px;
    text-align:center;
    overflow:hidden;
    padding:7px;
    display:none;
}

.half-height{
    max-height:50%;
    overflow:auto;
}

.comment{
    padding:0 .5%;
    padding-top: 3px;
    margin:0;
    width:99%;
    max-width:100%;
}

.name{
    padding:0 .5%;
    margin:0;
    width:69%;
    float:left;
}

.convo{
    padding:0 .5%;
    margin:0;
    margin-right:-2px;
    margin-left:-2px;
    width:29%;
    float:right;
}

.greentext {
    color: #789922;
}

.redtext {
    color:rgb(221, 0, 0);
}

.home_screen {
    display: none;
}

.chats_container{
	position:absolute;
    top:26px;
	bottom:168px;
	right:250px;
	left:0px
}

.chats_container_home{
	bottom:0px;
	right:0px;
}

.chats{
    position:absolute;
    overflow:auto;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    display:none;
}

.chats_half{
	width:50% !important;
}

.chats_connected{
    width:100%;
}

.chats-home{
    position:absolute;
    overflow:auto;
    height:50%;
    width:100%;
    bottom:0;
}

.chat{
    background:rgb(214, 218, 240);
    margin:5px;
    word-wrap:break-word;
	padding: 6px 8px 8px 8px;
	clear: both;
	max-height: 150px;
	overflow: hidden;
	position:relative;
	box-shadow: 0px 1px 4px rgba(0,0,0,.2);
}

.chat:after {
	color:red;
}

.chat_full, .chat_embed {
	max-height: none !important;
}

.chat_dim{
    background:inherit;
}

.chat_highlight{
	border-left: 4px solid rgb(221, 0, 0);
}

.chat_hidden{
    display:none;
}

.chat_tab{
	background:rgb(214, 218, 240);
	margin:0 2px;
	padding:0 2px;
	border-radius: 2px;
}

.chat_tab:hover{
	cursor:pointer;
}

.chat_tab_dim{
	background:none;
}

.chat_img{
    padding:2px;
    padding-right:5px;
    vertical-align:text-top;
    max-width:250px;
    max-height:100px;
    border: 0;
}

.chat_img_cont {
	display:inline-block;
	float:left;
}

.chat_img:hover {
    cursor:pointer;
}

.chat_name{
    color:green;
    font-weight:bold;
    padding-right:4px;
}

.trip_code{
    font-weight:normal;
}

.chat_number{
    padding-left:5px;
}

.chat_number:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}

.chat_label{
    color:grey;
    font-size:16px;
    padding:5px;
    text-decoration:none;
}

.chat_convo{
    padding-right:3px;
    color:black;
    border-radius:3px;
    padding: 0 2px;
    margin: 0 5px;
}
.chat_refs{
	font-size:12px;
}

.chat_convo:hover {
    cursor:pointer;
}

.chat_mod_tools{
    display:none;
    font-size: 12px;
    padding-left:5px;
}

.chat_plugin{
	z-index: 100;
	position:absolute;
	top:0;
	right:5px;
	background-color: rgba(255,255,255,.7);
	padding:10px;
	border:2px outset black
}

.chat_plugin_close{
	position:absolute;
	top:0;
	right:0;
	margin-top:-7px;
	margin-right:-5px;

}

.chat_plugin_link{
	color:blue;
	text-decoration: underline;
}

.delete_part:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}
.warn_part:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}
.move_part:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}
.ban_part:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}
.country_part:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}
.mute_part:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}

a{
    color:rgb(221, 0, 0);
}

a:hover {
    cursor:pointer;
}

.center{
    width:100%;
    text-align:center;
}

.container{
    padding:20px;
}

.link{
    color:black;
    padding:5px;
    display:inline-block;
    text-decoration:none;
}

.link:hover {
    color:rgb(221, 0, 0);
    cursor:pointer;
}

textarea{
    resize: none;
    font-family: arial,helvetica,sans-serif;
    font-size:14px;
    border:1px solid rgb(153, 136, 238);

}

#body{
    height:100px;
}

#image,#recording{
    max-width:50%;
}

input{
    font-family: arial,helvetica,sans-serif;
    font-size:14px;
    border:1px solid rgb(153, 136, 238);

}

.input_button {
    vertical-align: middle;
}

select{
    font-size: 10px;
	padding:none;
	max-height: 20px;
}

button{
    font-size: 10px;
	padding:none;
	max-height: 20px;
}

.input_range{
    width:110px;
    height:16px;
    border:0px;
    padding:0px;
    margin:0px;
    vertical-align:middle;
    background:transparent;
}

/* code tag */
pre {
        white-space: pre-wrap;       /* css-3 */
        white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
        white-space: -pre-wrap;      /* Opera 4-6 */
        white-space: -o-pre-wrap;    /* Opera 7 */
        word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

.code {
	display:inline;
}

.admin{
    color:rgba(181,0,181,1);
}

.dev{
    color:rgb(221, 0, 0);
}

.contrib{
    color:rgb(0, 40, 221);
}

.alert_div{
    background:white;
    color:black;
    border: none;
    text-align:center;
    padding:5px;
    right:270px;
    display:none;
}

#alert_div_captcha{
	background-color: rgb(238, 242, 255);
	border:1px rgb(214, 218, 240) solid;
}

.alert_message{
    display:block;
    color:black;
}

.alert_button{
    display:block;
    float:right;
}

.spoiler{
        background:black;
        color:black;
}

.spoiled{
	background:none;
}

.spoiler:hover{
        background:none;
}

.shown{
    display:block;
}

.hidden{
    display:none;
}
	
.tooltip{
	display: inline;
	position: relative;
}

.tooltip:hover:after{
	background: #fff;
	background: rgba(255,255,255,.8);
	bottom: 10px;
	color: black;
	content: attr(data-country);
	left:0;
	font-size:12px;
	text-align: center;
	white-space:nowrap;
	position: absolute;
	z-index: 1000;
	width: auto;
	width: fit-content;
	border-radius:3px;
}

.flag img{
	height:22px;
	padding-left:5px;
    margin:0;
    margin-bottom:-5px;
}


.chat_highlight{
	border-left: 4px solid rgb(221, 0, 0);
        background-color: rgb(179, 185, 218);
}
