/* live-tomorrow.css */

body,html {
  background: none repeat scroll 0% 0% #1D1F21;
  color: #C5C8C6;
}

.settings_nav{
	color: #C5C8C6;
	background: none repeat scroll 0% 0% #1D1F21;
}

.create {
  /* the input box */
  background: #282A2E;
  background: none repeat scroll 0% 0% #1D1F21;
  border: none;
}

textarea{

  background: #C5C8C6;
  color: #282A2E;
  border:1px solid #1D1F21;

}

input{
  background: #C5C8C6;
  color: #282A2E;
  border:1px solid #1D1F21;
}

/* is this even css

.input_button::-webkit-file-upload-button {
  // visibility: hidden;
}

*/

.input_button {

}

.input_select {

}

.input_checkbox {

}

.chat {
  background: #282A2E;
  border: 1px solid #282A2E;
}

.chat a, span.link, .chat .chat_header .chat_number {
  color: #5F89AC;
}

.chat a:hover, span.link:hover, .chat .chat_header .chat_number:hover {
  color: #81A2BE;
}

.chat_name {
  color: inherit;
}

.chat_name .trip_code {
  color: #B5B8B6;         
}

.chat_name.contrib {
  color: #6F9FC7;
}

.chat_name.admin .trip_code {
  color:rgb(221, 0, 0);
}

.chat_name.admin {
  color:rgb(221, 0, 0);
}

.chat_name.contrib .trip_code {
  color: #8CA8BF;
}

.chat_header {
  background: transparent;
  width:100%;
}

.greentext {
  color: #B5BD68;
}

/* raw positioning stuff */


.chat {
  margin: 8px 8px 0 8px;
  padding: 6px 8px 8px 8px;

  clear: both;
  overflow: hidden;
}

.chat .chat_header {
  margin-bottom: 4px;
}

.chat .chat_img {
  float: left;
  clear: left;

  padding: 4px 8px 8px 0px;
}

.create {/*
  width: auto;
  padding: 8px 8px 0 8px;
  left: 8px;
  right: 0;

  overflow: auto;*/
  
}

  .create .name {

  }

  .create .convo {

  }

.chat_name .trip_code {
  padding-left: 3px;
}


.sidebar_convo {
  padding:3px;
  background: #282A2E;
}

.alert_div {
  background-color: #282A2E !important;
}
