body,html{
    padding:0;
    margin:0;
    background:rgb(238, 242, 255);
    font-family: arial,helvetica,sans-serif;
}

.create{
    position:fixed;
    bottom:0;
    width:99%;
    right:.5%;
    background:rgb(153, 136, 238);
    border:1px solid black;
    font-size:20px;
    min-width:300px;
    height:160px;
    font-size:14px;
    text-align:center;
}

.shown{
    display:block;
}

.hidden{
    display:none;
}

.half-height{
    max-height:50%;
    overflow:auto;
}

.comment{
    width:100%;
}

.name{
    width:69%;
}

.convo{
    width:30%;
}

.greentext {
    color: #789922;
}

.redtext {
    color:rgb(221, 0, 0);
}

.chats{
    position:absolute;
    overflow:auto;
    top:0;
    bottom:160;
    width:100%;
}

.chats-home{
    position:absolute;
    overflow:auto;
    height:50%;
    width:100%;
    bottom:0;
}

.chat{
    background:rgb(214, 218, 240);
    padding:5px;
    margin:5px;
    word-wrap:break-word;
}

.chat_dim{
    background:none;
}

.chat_hidden{
    display:none;
}

.chat_img{
    padding:2px;
    padding-right:5px;
    vertical-align:text-top;
}
.chat_img:hover{
    cursor:pointer;
}

.chat_name{
    color:green;
    font-weight:bold;
    padding-right:4px;
}

.trip_code{
    font-weight:normal;
}

.chat_number{
    padding-left:5px;
}

.chat_number:hover{
    color:rgb(221, 0, 0);
    cursor:pointer;
}

.chat_label{
    color:grey;
    font-size:20px;
    padding:5px;
}

.chat_label:hover{
    cursor:pointer;
}

.chat_convo{
    padding-right:3px;
    color:grey;
}

.chat_convo:hover{
    cursor:pointer;
}

a{
    color:rgb(221, 0, 0);
}

a:hover{
    cursor:pointer;
}

.center{
    width:100%;
    text-align:center;
}

.container{
    padding:20px;
}

.link{
    color:black;
    padding:5px;
    display:inline-block;
    text-decoration:none;
}

.link:hover{
    color:rgb(221, 0, 0);
    cursor:pointer;
}

textarea{
    resize: none;
    font-family: arial,helvetica,sans-serif;
    font-size:14px;
}

input{
    font-family: arial,helvetica,sans-serif;
    font-size:14px;
}

.admin{
    color:rgb(221, 0, 0);
}

.contrib{
    color:blue;
}