/*Containers*/
.header{
  width: 100%;
  height: 75px;
  background-color: #95A5A6;
}

.content{

}

/*Fonts*/


/*Clickable Objects*/
.buttonSettings{
  width: 150px;
  height: 65px;
  background-color: #2ECC71;
  color: #FFFFFF;
  font-size: 12px;
}
